<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example" >
        <thead>
        <tr>
            <th>Response Id</th>
            <th>Contact Number</th>
            <th>Response Date</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
            <% for answer in @choice_answers %>
                <tr class="gradeX">
                    <td><%= answer[:response_id] %></td>
                    <td><%= answer[:phone] %></td>
                    <td><%= answer[:created_at] %></td>
                    <td><%= answer[:answer] %></td>
                </tr>
            <% end %>
        </tbody>
        <div class="row justify-content-md-center">
            <%== pagy_bootstrap_nav(@pagy_a) %>
        </div>
    </table>
</div>
