<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>
<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-5">
        <h2>Import Survey Answers</h2>
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'survey', :action => 'overview' %>">Surveys Overview</a>
            </li>
            <li class="breadcrumb-item active">
                Upload CSV
            </li>
        </ol>
    </div>
</div>

<!-- Alert Management -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <div class="row border-bottom white-bg dashboard-header justify-content-md-center">
    
        <div class="col-lg-10 text-center">
            <h3>Upload Your Answers Here</h3>
            <h5>CSV files only</h5>
        </div>
        <div class="col-lg-10">
            <%= form_for SurveyAnswerUpload.new, url: {action: "upload", controller: "survey"}, id: "new-sa-upload" do |f| %>
                <%= hidden_field_tag :survey_id, @survey.id %>
                <div class="row justify-content-md-center">
                    <div class="custom-file col-lg-9">
                        <%= f.file_field :file, value: nil, id: "logo", class: "custom-file-input form-control", required: true, accept: 'text/csv'%>
                        <label for="logo" class="custom-file-label form-control">Choose your CSV file...</label>
                    </div>
                    <div class="col-lg-3 text-center">
                        <button class="btn btn-block btn-primary" onclick="loading_area_trigger()" type="submit"><i class="fa fa-upload"></i>&nbsp;Process CSV</button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <% if @survey_answer_upload %>
        <br />
        <br />
        <div class="ibox col-lg-12">
            <div class="ibox-title text-center">
                <h5>Map Your Survey Questions</h5>
            </div>
            <div class="ibox-content text-center">
                <%= form_tag(survey_upload_headers_path, method: "POST", id: "headers-form") do %>
                    <% @questions.each do |question| %>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label float-left"><%= question %></label>
                            <div class="col-sm-6">
                                <%= select_tag question, options_for_select(@uploaded_headers), include_blank: "Select A Field", class: "form-control chosen-select" %>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    <% end %>
                    <%= hidden_field_tag :survey_id, @survey.id %>
                    <%= hidden_field_tag :sa_upload_id, @survey_answer_upload.id %>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                            <%= submit_tag("Add Answer Data", id: "submit-headers", form: "headers-form", class: "btn btn-block btn-primary", onclick:"loading_area_trigger()") %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
    
</div>
<br />
<br />
<br />

<% content_for :javascript do %>
    <script type="text/javascript">


        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        function loading_area_trigger(){
            $('#loadingarea').toggleClass('sk-loading');
        };


    </script>
<% end %>
