<%= stylesheet_link_tag "survey" %>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <% if @survey %>
                        <h1><%= @survey.name %></h1>
                    <% else %>
                        <h1>Could not find survey.</h1>
                    <% end %>
                    <small>Powered by: Mobilize Comms</small>
                    <hr />
                    <br />
                    <h4>Completed On:</h4>
                    <h2><%= @survey_response.created_at.in_time_zone(@survey.organization.timezone).strftime("%b %e, %Y %l:%M %p") %></h2>
                    <br />
                    <h5><%= @survey.completion_message&.html_safe %></h5>
                    <br />
                    <% for answer in @survey_answers %>
                        <% if answer.survey_question.confirm_answer %>
                            <br />
                            <hr />
                            <%= answer.answer %>
                            <br />
                        <% end %>
                    <% end %>
                    <% if @survey.multiple_responses_allowed %>
                        <% if @survey.show_take_again %>
                            <strong><%= link_to("Take Survey Again", survey_show_path(id: @survey.id, contact_id: !@contact.nil? ? @contact.id : "0"), class: "btn btn-xl btn-primary") %></strong>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
