<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>
<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>
<%= stylesheet_link_tag "commerce" %>
<%= javascript_include_tag "commerce" %>
<%= javascript_include_tag "biomp" %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit Question for <%= @survey.name %></h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'survey', :action => 'overview' %>">Survey Overview</a>
            </li>
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'survey', :action => 'questions', :survey_id => @survey.id %>">Manage Questions</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit Question</strong>
            </li>
        </ol>
    </div>
</div>

<!-- ALERTS -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="row justify-content-md-center">
                    <div class="col-12 text-center">
                        <h3><%= @question.question.html_safe %></h3>
                    </div>
                    <br />
                    <br />
                    <div class="col-10">
                        <% if @question.is_text? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_number? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <%= f.number_field :min_range, placeholder: "Minimum Value (Not Required)", class: "form-control"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <%= f.number_field :max_range, placeholder: "Maximum Value (Not Required)", class: "form-control"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_date? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  	<div class="col-lg-12">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <%= f.text_field :min_range, class: "form-control", placeholder: "Minimum Date (Optional)" %>
                                        </div>
                                     </div>
                                </div>
    														<div class="form-group row">
                                  	<div class="col-lg-12">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <%= f.text_field :max_range, class: "form-control", placeholder: "Maximum Date (Optional)" %>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_location? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_yes_no? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_mc? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :allow_other, value: false %> <i></i> Allow user to provide an "other" response.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <% if !@survey.is_active? %>
                                    <div class="form-group row">
                                        <hr />
                                        <div class="col-lg-12 text-center">
                                            <p><strong>Drop Down Answers</strong></p>
                                            <p>Type each option below and press enter to add them.</p>
                                        </div>
                                        <div class="col-lg-12">
                                            <input class="tagsinput form-control" type="array" value='<%= @question.survey_multiple_choices.pluck("choice_item").join(",")%>' name="mc_answers"/>
                                        </div>
                                    </div>
                                <% end %>

                                <div class="form-group">
                                    <%= f.hidden_field :survey_id, :value => @survey.id %>
                                    <%= f.hidden_field :question_id, :value => @question.id %>
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_rating? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                            <div class="i-checks">
                                                <label>
                                                    <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                                </label>
                                            </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :archive, value: false %> <i></i> Hide this question from surveys.
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group row">
                                    <div class="col-lg-12 text-center">
                                        <p><strong>Rating Answers</strong></p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <label class="col-lg-4 col-form-label">Low Rating Title</label>
                                        <div class="col-lg-8">
                                            <%= f.text_field :min_range, placeholder: "Low Rating Title", class: "form-control"%>
                                            <span class="form-text m-b-none">EX: 0 Poor</span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <label class="col-lg-4 col-form-label">High Rating Title</label>
                                        <div class="col-lg-8">
                                            <%= f.text_field :max_range, placeholder: "High Rating Title", class: "form-control"%>
                                            <span class="form-text m-b-none">EX: 10 Excellent</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <div id="ionrange_2"></div>
                                    </div>
                                </div>

                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <%= f.hidden_field :question_id, :value => @question.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Update Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_phone_number? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question</h3>
                                        <%= f.text_area :question, 'data-provider': :summernote, value: @question.question,  placeholder: "Your Question.", class: "form-control summernote", required: true %>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <h3>Your Question Description</h3>
                                        <%= f.text_area :detail, 'data-provider': :summernote, value:  @question.detail,  placeholder: "Description of your question that will be displayed to the users.", class: "form-control summernote"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group row text-left">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <%= f.hidden_field :question_id, :value => @question.id%>
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Create Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% elsif @question.is_signature? %>
                            <%= form_for @question, url: {action: "question_update", controller: "survey"} do |f| %>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <%= f.text_area :question, placeholder: "Description that will be displayed to the users.", class: "form-control"%>
                                        <span class="form-text m-b-none"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group row text-left">
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :required, value: false %> <i></i> This question requires an answer.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="i-checks">
                                            <label>
                                                <%= f.check_box :confirm_answer, value: false %> <i></i> Show answer on user confirmation page.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <%= f.hidden_field :question_id, :value => @question.id%>
                                <%= f.hidden_field :survey_id, :value => @survey.id %>
                                <div class="form-group">
                                    <div class="col-lg-12 text-center">
                                        <button class="btn btn-sm btn-warning" id="submit_button">Create Question</button>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">

        $(function() {
            page_set_storage("SurveyEditQuestion");

            var submit_button = document.getElementById('submit_button');

            submit_button.addEventListener('click', function() {
                console.log("Question Update Started");

                $('#loadingarea').toggleClass('sk-loading');

            });

            $('.summernote').summernote({
                toolbar: [
                    [ 'style', [ 'style' ] ],
                    [ 'font', [ 'bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear'] ],
                    [ 'fontname', [ 'fontname' ] ],
                    [ 'fontsize', [ 'fontsize' ] ],
                    [ 'color', [ 'color' ] ],
                    [ 'para', [ 'ol', 'ul', 'paragraph', 'height' ] ],
                    [ 'table', [ 'table' ] ],
                    [ 'insert', [ 'link'] ],
                    [ 'view', [ 'undo', 'redo', 'fullscreen', 'codeview', 'help' ] ]
                ]
            });

            var edit = function () {
                $('.click2edit').summernote({focus: true});
            };

            $("#edit").click(function () {
                $('.click2edit').summernote({focus: true});
            });

            var editForms = document.querySelectorAll('[class=edit_survey_question]');
            var i;
            for (i = 0; i < editForms.length; i++) {
                // Prevent Enter Event
                editForms[i].onkeypress = function(e) {
                    var key = e.charCode || e.keyCode || 0;
                    if (key == 13) {
                        e.preventDefault();
                    }
                }
            }

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary',
                allowDuplicates: false,
                trimValue: true,
                confirmKeys: [13]
            });
            
            $('input[name="daterange"]').daterangepicker();
            
    				$('.input-group.date').datepicker({
            	todayBtn: "linked",
            	keyboardNavigation: false,
            	forceParse: false,
            	calendarWeeks: true,
            	autoclose: true
        		});

            $("#ionrange_2").ionRangeSlider({
                min: 0,
                max: 10,
                type: 'single',
                step: 1,
                postfix: " Rating Title",
                prettify: false,
                hasGrid: false,
                disable: true
            });
        });

    </script>
<% end %>
