<%= stylesheet_link_tag "survey" %>

<div class="wrapper wrapper-content animated fadeInRight">
    <button class="btn btn-primary" onclick="window.print()">Print this page</button>

    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content text-center">
                    <% if @response %>
                        <% if @contact %>
                            <h1><%= @contact.cell_phone %> Response</h1>
                            <% if @contact.name %>
                                <h1><%= @contact.name %></h1>
                            <% end %>
                        <% else %>
                            Submission On Behalf Of User
                        <% end %>
                    <% else %>
                        <h1>Could not find survey.</h1>
                    <% end %>
                    <hr />
                    <br />
                    <h4>Completed On:</h4>
                    <h2><%= @response.created_at.in_time_zone(@response.survey.organization.timezone).strftime("%b %e, %Y %l:%M %p") %></h2>
                    <br />
                    <% for answer in @response.survey_answers %>
                        <h5><%= answer.survey_question.question.html_safe %></h5>
                        <% if answer.survey_question.is_mc? %>
                            <p><%= answer.survey_question.survey_multiple_choices.find_by_id(answer.answer).choice_item %></p>
                        <% else %>
                            <p><%= answer.answer %></p>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


