<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Your organization plan downgrade has failed for <%= @organization.name %>. 
    </p>

    <% if @failure_type == "plan_limitation" %>
        <p>You currently have more keywords than the plan <%= @new_plan.name %> allows. Please adjust your keywords and resubmit your request for a plan downgrade.</p>
    <% elsif @failure_type == "card_declined" %>
        <p>Your payment details have failed. Please update your payment details <%= link_to "here", billing_overview_path %> and resubmit your request for a plan downgrade.</p>
    <% else # "system_error" %>
        <p>We encountered an error while trying to downgrade your plan. Please contact our support team at <%= link_to "support@mobilizecomms.com", "mailto:support@mobilizecomms.com" %>.</p>
    <% end %>

    <h1>Thanks,</h1>
    <h1>Mobilize Comms Team</h1>
  </body>
</html>