<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %></h1>
    <p>
      Your organization plan downgrade has succeeded for <%= @organization.name %>. 
    </p>
    <p>
      You are now on the plan: <%= @new_plan.name %> with <%= @new_plan.messages_included %> messages and <%= @new_plan.keywords_included %> included keywords per month.
    </p>
    <h1>Thanks,</h1>
    <h1>Mobilize Comms Team</h1>
  </body>
</html>