<%= stylesheet_link_tag "dashboards" %>
<%= stylesheet_link_tag "forms" %>

<%= javascript_include_tag "dashboards" %>
<%= javascript_include_tag "forms" %>

<div class="row wrapper border-bottom white-bg page-heading justify-content-md-center">
    <div class="col-lg-10 text-center">
        <h1><%= @month %> <%= @year %></h1>
        <br />
        <%= form_tag admin_page_monthly_overview_path, method: :get do %>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label"><strong>Month</strong></label>

                <div class="col-lg-3">
                    <%= select_tag :month, options_for_select(Date::MONTHNAMES, @month), class: "form-control chosen-select"%>
                </div>

                <label class="col-lg-2 col-form-label"><strong>Year</strong></label>

                <div class="col-lg-3">
                    <%= select_tag :year, options_for_select([2018,2019,2020,2021,2022], @year.to_i), class: "form-control chosen-select"%>
                </div>
                <div  class="col-lg-2">
                    <%= submit_tag "Submit", class: "btn btn-lg btn-warning"%>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <!-- Accounts -->
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Accounts</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_with_delimiter(@new_accounts_count) %></h1>
                            <% if @difference_new_accounts >= 0 %>
                                <div class="stat-percent font-bold text-info"><%= @difference_new_accounts %>% <i class="fa fa-level-up"></i></div>
                            <% else %>
                                <div class="stat-percent font-bold text-danger"><%= @difference_new_accounts %>% <i class="fa fa-level-down"></i></div>
                            <% end %>
                            <small>New Accounts</small>
                        </div>
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_with_delimiter(@deactivated_acccounts_total) %></h1>
                            <% if @difference_deactivated_accounts >= 0 %>
                                <div class="stat-percent font-bold text-info"><%= @difference_deactivated_accounts %>% <i class="fa fa-level-up"></i></div>
                            <% else %>
                                <div class="stat-percent font-bold text-danger"><%= @difference_deactivated_accounts %>% <i class="fa fa-level-down"></i></div>
                            <% end %>
                            <small>Deactivated Accounts</small>
                        </div>
                         <div class="col-md-3">
                            <h1 class="no-margins"><%= number_with_delimiter(@total_deactivated_accounts_count) %></h1>
                            <small>Total Deactivated Accounts</small>
                        </div>
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_with_delimiter(@total_accounts_count) %></h1>
                            <small>Total Active Accounts</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Keywords -->
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Keywords</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="no-margins"><%= number_with_delimiter(@keyword_new_subscribed_count) %></h1>
                            <% if @difference_keyword_subscribed >= 0 %>
                                <div class="stat-percent font-bold text-info"><%= @difference_keyword_subscribed %>% <i class="fa fa-level-up"></i></div>
                            <% else %>
                                <div class="stat-percent font-bold text-danger"><%= @difference_keyword_subscribed %>% <i class="fa fa-level-down"></i></div>
                            <% end %>
                            <small>New Subscribed Keywords</small>
                        </div>
                        <div class="col-md-4">
                            <h1 class="no-margins"><%= number_with_delimiter(@keyword_subscribed_count) %></h1>
                            <small>Total Subscribed Keywords</small>
                        </div>
                        <div class="col-md-4">
                            <h1 class="no-margins"><%= number_with_delimiter(@keyword_count) %></h1>
                            <small>Total Keywords</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- mGage Costs -->
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>mGage Finances</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-3">
                            <% message_cost = @total_short_code_by_day.inject(0, :+) * 0.0075 %>
                            <h1 class="no-margins"><%= message_cost < 1500 ? "$1,500.00" : number_to_currency(message_cost) %></h1>
                            <small>mGage Costs</small>
                        </div>
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_to_currency(@total_short_code_by_day.inject(0, :+) * 0.005) %></h1>
                            <small>Carrier Costs</small>
                        </div>
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_to_currency( (message_cost < 1500 ? 1500 : message_cost) + (@total_short_code_by_day.inject(0, :+) * 0.005)) %></h1>
                            <small>Total Costs</small>
                        </div>
                        <div class="col-md-3">
                            <h1 class="no-margins"><%= number_to_currency(@income) %></h1>
                            <small>Minimum Income</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Short Code -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div>
                        <span class="float-left text-right">
                        <h3 class="font-bold no-margins">
                            Short Code Usage
                        </h3>
                        <small>Blasts + Responses</small>
                    </div>

                    <div class="m-t-sm">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <canvas id="lineChart" height="114"></canvas>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <h2><%= number_with_delimiter(@messages_by_day.inject(0, :+)) %></h2>
                                <small><strong>Messages Out</strong></small>
                            </div>
                            <div class="col-md-3">
                                <h2><%= number_with_delimiter(@responses_by_day.inject(0, :+)) %></h2>
                                <small><strong>Responses</strong></small>
                            </div>
                            <div class="col-md-3">
                                <h2><%= number_with_delimiter(@total_short_code_by_day.inject(0, :+)) %></h2>
                                <small><strong>Messages Total</strong></small>
                            </div>
                            <div class="col-md-3">
                                <% percentage_usage =  100 - ((@total_short_code_by_day.inject(0, :+) / 200000.0) * 100) %>
                                <h2 class="no-margins"><%= percentage_usage < 0 ? 0 : percentage_usage %>%</h2>
                                <small>mGage Usage <strong>Remaining</strong></small>
                                <div class="progress progress-mini">
                                    <div class="progress-bar progress-bar-danger" style="width: <%= percentage_usage < 0 ? 0 : percentage_usage %>%;"></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <h2><%= @blast_count %></h2>
                                <small><strong>Blast Total</strong></small>
                            </div>
                            <div class="col-md-3">
                                <h2><%= @blast_average_rate %></h2>
                                <small><strong>Blast Avg Rate</strong></small>
                            </div>
                            <div class="col-md-3">
                                <h2><%= @blast_contact_average %></h2>
                                <small><strong>Blast Contact Avg Rate</strong></small>
                            </div>
                            <div class="col-md-3">
                                <h5>SMS/MMS</h5>
                                <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Accounts -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>New Accounts</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Organization Name </th>
                                <th>Size </th>
                                <th>Industry </th>
                                <th>Plan </th>
                                <th>Name </th>
                                <th>Email </th>
                                <th>Phone </th>
                            </tr>
                            </thead>
                            <tbody>
                                <% for new_account in @new_accounts %>
                                    <tr>
                                        <td><%= new_account.name %></td>
                                        <td><%= new_account.size %></td>
                                        <td><%= new_account.industry %></td>
                                        <td><%= new_account.plan.name %></td>
                                        <% if new_account.users.first %>
                                            <td><%= new_account.users.first.name %></td>
                                            <td><%= new_account.users.first.email %></td>
                                            <td><%= number_to_phone(new_account.users.first.cell_phone, area_code: true) %></td>
                                        <% else %>
                                            <td>No User In Account</td>
                                            <td>No User In Account</td>
                                            <td>No User In Account</td>
                                        <% end %>
                                    </tr>
                                <% end%>
                            </tbody>
                            <%== pagy_bootstrap_nav(@pagy_new_accounts) %>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Blasts -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Blasts</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Blast Id </th>
                                <th>Keyword </th>
                                <th>Message </th>
                                <th>Send Time </th>
                                <th>Rate </th>
                                <th>Cost/Credits </th>
                                <th>Contacts </th>
                                <th>Organization </th>
                            </tr>
                            </thead>
                            <tbody>
                                <% for new_blast in @new_blasts %>
                                    <tr>
                                        <td><%= new_blast.id %></td>
                                        <td><%= new_blast.keyword_name %></td>
                                        <td><%= new_blast.message %></td>
                                        <td><%= new_blast.send_date_time %></td>
                                        <td><%= new_blast.rate %></td>
                                        <td><%= new_blast.cost %></td>
                                        <td><%= new_blast.contact_count %></td>
                                        <td><%= new_blast.organization.name %></td>
                                    </tr>
                                <% end%>
                            </tbody>
                            <%== pagy_bootstrap_nav(@pagy_new_blasts) %>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
<br />
<br />

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    var doughnutData = {
        labels: ["SMS","MMS"],
        datasets: [{
            data: [<%= @sms_count %>, <%= @mms_count %>],
            backgroundColor: ["#3AC1CC", "#F78E28"]
        }]
    };

     var doughnutOptions = {
        responsive: false,
        legend: {
            display: false
        }
    };


    var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
    new Chart(ctx4, {type: 'doughnut', data: doughnutData, options: doughnutOptions});

    $("span.pie").peity("pie", {
        fill: ['#3AC1CC', '#d7d7d7', '#ffffff']
    })

    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var data1 = [
        { label: "Messages", data: d1, color: '#17a084' },
        { label: "Responses", data: d2, color: '#127e68' },
    ];


    var lineData = {
        labels: <%= @days %>,
        datasets: [
            {
                label: "Messages Sent",
                backgroundColor: "rgba(58,193,204,0.5)",
                borderColor: "rgba(58,193,204,0.7)",
                pointBackgroundColor: "rgba(58,193,204,1)",
                pointBorderColor: "#fff",
                data: <%= @messages_by_day %>
            },
            {
                label: "Responses",
                backgroundColor: "rgba(219,30,54,0.5)",
                borderColor: "rgba(219,30,54,1)",
                pointBackgroundColor: "rgba(219,30,54,1)",
                pointBorderColor: "#fff",
                data: <%= @responses_by_day %>
            },
            {
                label: "Total",
                backgroundColor: "rgba(247,142,40,0.5)",
                borderColor: "rgba(247,142,40,1)",
                pointBackgroundColor: "rgba(247,142,40,1)",
                pointBorderColor: "#fff",
                data: <%= @total_short_code_by_day %>
            }
        ]
    };

    var lineOptions = {
        responsive: true
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


});


</script>

<% end %>
