<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>

<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <!-- New System Notification -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>New System Notification</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-10">
                            <%= form_for(@notif, url:{:controller=>'admin_page', :action=>'create_notifcation'}) do |f| %>
                                <div class="form-group"><label>Notification Title</label>
                                    <%= f.text_field :title, placeholder: "Notifcation Title", class: "form-control", required: true %></div>
                                    
                                    <div class="form-group"><label>Notification Message</label>
                                    <%= f.text_area :description, placeholder: "Notification Message", class: "form-control", required: true %></div>

                                    <div class="form-group input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= f.text_field :start_date, placeholder: "Start Date", class: "form-control", required: true %>
                                    </div>

                                    <div class="form-group input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= f.text_field :end_date, placeholder: "End Date", class: "form-control", required: true %>
                                    </div>
                                    

                                    <div>
                                        <%= f.submit class: "btn btn-sm btn-primary float-right m-t-n-xs"%>
                                    </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Existing System Notifications -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>All Notifications</h5>
                </div>

                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Message</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for notification in @notifications %>
                                    <tr>
                                        <td class="project-title">
                                            <%= notification.id %>
                                        </td>
                                        <td class="project-title">
                                            <%= notification.title %>
                                        </td>
                                        <td class="project-completion">
                                            <%= notification.description %> 
                                        </td>
                                        <td class="project-completion">
                                            <%= notification.start_date.in_time_zone("Mountain Time (US & Canada)").strftime("%b %e, %Y %l:%m %P MST") %>
                                        </td>
                                        <td class="project-completion">
                                            <%= notification.end_date.in_time_zone("Mountain Time (US & Canada)").strftime("%b %e, %Y %l:%m %P MST") %>
                                        </td>
                                        <td class="project-actions">
                                            <%= link_to admin_page_edit_notification_path(notification_id: notification.id), class: "btn btn-warning btn-sm" do %>
                                                <i class="fa fa-pencil"></i> Edit 
                                            <% end %>
                                            <%= link_to admin_page_delete_notification_path(notification_id: notification.id), method:"delete", class: "btn btn-danger btn-sm" do %>
                                                <i class="fa fa-times"></i> Delete 
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <%== pagy_bootstrap_nav(@pagy_notif) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<br />

<% content_for :javascript do %>
    <script type="text/javascript">
        page_set_storage("OrganizationShow");

         $('input[name="daterange"]').daterangepicker();

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

    </script>
<% end %>