<%= stylesheet_link_tag "forms" %>
<%= stylesheet_link_tag "tables" %>
<%= stylesheet_link_tag "miscellaneous" %>

<%= javascript_include_tag "forms" %>
<%= javascript_include_tag "tables" %>
<%= javascript_include_tag "miscellaneous" %>

<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2><%= @group.name %></h2>
        <button class="btn btn-danger delete_group" style="float: right;">
            <i class="fa fa-times"></i> Delete Group
        </button>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard' %>">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'groups', :action => 'overview' %>">Groups Overview</a>
            </li>
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'groups', :action => 'show', id: @group.id %>"><%= @group.name %></a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Alerts -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="ibox" id="ibox1">
                <div class="ibox-title text-center">
                    <h5>Edit Group</h5>
                </div>
                <div class="ibox-content">
                    <%= form_for @group, url: {action: "update", controller: "groups"}, :html => { :onsubmit => 'set_contacts();' } do |f| %>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Group Name</label>
                            <div class="col-lg-10"><%= f.text_field :name, placeholder: "Group Name", class: "form-control", id: "gname", :onchange=>"group_name_set();"%> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Group Description</label>
                            <div class="col-lg-10"><%= f.text_field :description, placeholder: "Group Description", class: "form-control", id: "gdescription", :onchange=>"group_description_set();"%> 
                            </div>
                        </div>
                        <%= hidden_field_tag(:group_id, @group.id) %>
                        <div class="form-group row text-center">
                            <div class="col-lg-12">
                                <%= f.submit "Update", class: "btn btn-lg btn-primary" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="ibox" id="ibox2">
                <div class="ibox-title text-center">
                    <h5>Add Your Contacts To The Group</h5>
                    <div class="ibox-tools">
                        <%= check_box_tag "contacts_all", true, false, id: "contact_all", checked: false, onclick: "showHiddenDiv2();" %> Include All Contacts
                    </div>
                </div>
                <div class="ibox-content">
                    <% if @your_contacts %>
                        <div id="contactSelect">
                            <%= form_tag "edit", method: "get" do %>
                                <div class="row m-b-sm m-t-sm">
                                    <div class="col-md-1">
                                        <%= link_to  groups_edit_path(group_id: @group.id), id: "loading-example-btn", class: "btn btn-white btn-sm" do %><i class="fa fa-refresh"></i> Clear<% end %>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="input-group">
                                            <%= text_field_tag :search, params[:search] ? params[:search] : nil, class: "form-control-sm form-control", placeholder:"Search Contacts"  %>
                                            <%= hidden_field_tag(:group_id, @group.id) %>
                                            <span class="input-group-btn">
                                                <%= button_to "Go!", groups_edit_path, method: :get, class: "btn btn-sm btn-primary" %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <% end %> 
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Add</th>
                                        <th>Cell Phone</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for c in @your_contacts %>
                                        <tr>
                                            <td><%= check_box_tag("contacts[]", c.id, false, :onclick=>"checking(#{c.id});", class: "checkmark", id: "#{c.id}-checkbox") %></td>
                                            <td><%= number_to_phone(c.cell_phone) %></td>
                                            <td><%= c.first_name.nil? ? "" : c.first_name %></td>
                                            <td><%= c.last_name.nil? ? "" : c.last_name %></td>
                                            <td><%= c.company_name.blank? ? "" : c.company_name.capitalize %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                            <%== pagy_bootstrap_nav(@pagy) %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

function group_name_set() {
    var group_name_item = document.getElementById("gname");
    if (group_name_item) { 
        var name = group_name_item.value;
        if (name) {
            console.log(`Incoming Group Name: ${name}`);
            localStorage.setItem("group", name);
        }
    }
};

function group_description_set() {
    var group_description_item = document.getElementById("gdescription");
    if (group_description_item) { 
        var desc = group_description_item.value;
        if (desc) {
            console.log(`Incoming Group Description: ${desc}`);
            localStorage.setItem("description", desc);
        }
    }
};

function checking(id) {
    //    localStorage.clear();
    console.log(`Incoming Id: ${id}`);
    
    var checks = localStorage.getItem("checks")
    console.log(`Initial Checks: ${checks}`);

    if (checks) {
        var check_box_results = JSON.parse(localStorage.getItem("checks"));
    }else{
        var check_box_results = [];
    }
    console.log(`PreCheck Box: ${check_box_results}`);

    if (check_box_results) {
        if (check_box_results.includes(id)) {
            var index = check_box_results.indexOf(id);
            if (index > -1) {
                check_box_results.splice(index, 1);
            }
        }else{
            check_box_results.push(id)
        }
        localStorage.setItem("checks", JSON.stringify(check_box_results));
    }else{
        localStorage.setItem("checks", JSON.stringify([id]));
    }

    console.log(`PostCheck Box: ${localStorage.getItem("checks")}`);

};

function get_contacts() {
    var prechecked_item_results = localStorage.getItem("checks");
    return prechecked_item_results;
}

$(function() {

    // Check PreExisting Values

    var checkbox2 = document.getElementById('contact_all');
    var delivery_div2 = document.getElementById('contactSelect');
    var showHiddenDiv2 = function(){
        if(checkbox2.checked) {
            delivery_div2.style['display'] = 'none';
        } else {
            delivery_div2.style['display'] = 'block';
        }
    }
    checkbox2.onclick = showHiddenDiv2;
    showHiddenDiv2();
});


function set_contacts() {
    unsaved = false;

    console.log("Executing submit function.");
    var form=document.getElementById('edit_group_<%= @group.id %>');//retrieve the form as a DOM element
    var all_contacts_option = document.getElementById('contact_all');

    if (all_contacts_option.checked) {
        console.log("Executing submit function --> All Contacts");
        var input = document.createElement('input');//prepare a new input DOM element
        input.setAttribute('name', "contacts_all");//set the param name
        input.setAttribute('value', "true");//set the value
        input.setAttribute('type', "hidden")//set the type

        form.appendChild(input);//append the input to the form
    }else{
        console.log("Executing submit function --> Individual Contacts");

        const a = JSON.parse(localStorage.getItem("checks"));
        if (a) {
            for (var e of a) {
                var input = document.createElement('input');//prepare a new input DOM element
                input.setAttribute('name', "all_contact_ids[]");//set the param name
                input.setAttribute('value', e);//set the value
                input.setAttribute('type', "hidden")//set the type

                form.appendChild(input);//append the input to the form
            }
        }
    }

    $('#loadingarea').toggleClass('sk-loading');

    console.log("Starting Spinners");

    form.submit();//send with added input

};

$(function() {
    
    page_set_storage("GroupEdit");

    $('.chosen-select').chosen({width: "100%"});
    $('.footable').footable();
    $('.footable2').footable();
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('.delete_group').click(function () {
        swal({
            title: "Are you sure you want to delete the group?",
            text: "You will not be able to recover this group.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: true
        }, function () {
                $.ajax({
                url: '<%= groups_delete_path(group_id: @group.id) %>',
                type: 'DELETE',
                data: { authenticity_token: $('[name="csrf-token"]')[0].content},
                success: function(result) {
                    window.location = "<%= groups_overview_path() %>"
                },
                failure: function(result) {
                    swal("Group Deletion Failed!", "Your group has not been deleted.", "failure");
                }
            });                  
        });
    });

    $('#edit_group').submit(function() {

        $('#loadingarea').toggleClass('sk-loading');
        
        return true; // return false to cancel form action
    });

    

    // Process The Checked Items
    var prechecked_item_results = localStorage.getItem("checks")
    var prechecked_items = []
    if (prechecked_item_results) {
        prechecked_items = JSON.parse(prechecked_item_results)
    }else{
        prechecked_items = <%= @cell_check %>
        localStorage.setItem("checks", JSON.stringify(prechecked_items));
    }

    var arrayLength = prechecked_items.length;
    for (var i = 0; i < arrayLength; i++) {
        console.log(`Setting Checked Item: ${prechecked_items[i]}`);

        var check_box_item = document.getElementById(`${prechecked_items[i]}-checkbox`);
        if (check_box_item) {
            check_box_item.checked = true;
        }
    }

    // Process The Group Name 
    var group_name_results = localStorage.getItem("group")
    if (group_name_results) {
        var group_text_item = document.getElementById("gname");
        if (group_text_item) {
            group_text_item.value = group_name_results
        }
    }

    // Process The Group Description 
    var group_description_results = localStorage.getItem("description")
    if (group_description_results) {
        var group_description_item = document.getElementById("gdescription");
        if (group_description_item) {
            group_description_item.value = group_description_results
        }
    }
});

</script>

<% end %>


