<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>




<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Edit Contact +<%= number_to_phone(@c.cell_phone, area_code: true) %></h2>
        <button class="btn btn-danger delete-contact" style="float: right;">
            <i class="fa fa-times"></i> Delete Contact
        </button>
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'contacts', :action => 'overview' %>">Contact Manager</a>
            </li>
            <li class="breadcrumb-item active">
                <%= link_to "Contact +#{number_to_phone(@c.cell_phone, area_code: true)}", contacts_show_path(id: @c.id) %>
            </li>
            <li class="breadcrumb-item active">
                Edit
            </li>
        </ol>
    </div>
</div>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row justify-content-md-center">
        <div class="col-lg-7">
            <div class="ibox ">
                <div class="ibox-title text-center">
                    <h5>Editing +<%= number_to_phone(@c.cell_phone, area_code: true)%></h5>
                </div>
                <div class="ibox-content">
                    <%= form_for @c, url: {action: "update", controller: "contacts"} do |f| %>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Cell Phone*</label>
                            <div class="col-lg-10"><%= f.text_field :cell_phone, value: @c.cell_phone ? @c.cell_phone : nil, placeholder: "Cell Phone", class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">First Name</label>

                            <div class="col-lg-10"><%= f.text_field :first_name, value: @c.first_name ? @c.first_name : nil, placeholder: "First Name", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Last Name</label>

                            <div class="col-lg-10"><%= f.text_field :last_name, value: @c.last_name ? @c.last_name : nil, placeholder: "Last Name", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Email</label>

                            <div class="col-lg-10"><%= f.text_field :primary_email, value: @c.primary_email ? @c.primary_email : nil, placeholder: "Email", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Secondary Email </label>

                            <div class="col-lg-10"><%= f.text_field :secondary_email, value: @c.secondary_email ? @c.secondary_email : nil, placeholder: "Secondary Email ", class: "form-control" %></div>
                        </div>

                        <div class="form-group row"><label class="col-lg-2 col-form-label">Company</label>

                            <div class="col-lg-10"><%= f.text_field :company_name, value: @c.company_name ? @c.company_name : nil, placeholder: "Company Name", class: "form-control" %></div>
                        </div>
                    
                      <%= hidden_field_tag :id, @c.id %>

                        <div class="form-group row justify-content-md-center">
                            <%= f.submit class: "btn btn-primary" do %><i class="fa fa-check"></i>&nbsp;Submit Updates<% end %>

                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contacts_delete_path(id: @c.id), method: "delete" -->

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    page_set_storage("ContactEdit");

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    $('.delete-contact').click(function () {
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this contact!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DB1E36",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: '<%= contacts_delete_path(id: @c.id) %>',
                type: 'DELETE',
                data: { authenticity_token: $('[name="csrf-token"]')[0].content},
                success: function(result) {
                    window.location = "<%= contacts_overview_path() %>"
                },
                failure: function(result) {
                    swal("Contact Deletion Failed!", "Your contact has not been deleted.", "failure");
                }
            });
        });
    });


});

</script>

<% end %>
