<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<%= stylesheet_link_tag "appviews" %>
<%= javascript_include_tag "appviews" %>


<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
     <div class="col-sm-4">
        <h2>Add New Contacts</h2>
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'contacts', :action => 'overview' %>">Contacts</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Add New Contacts</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Alert Management -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>


<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
     <div class="row">
        <div class="col-lg-6">
            <div class="ibox text-center">
                <div class="ibox-title">
                    <h5>Add Individual Contact</h5>
                </div>
                <div class="ibox-content">
                    <%= form_for Contact.new, url: {action: "create", controller: "contacts"} do |f| %>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Cell Phone*</label>
                            <div class="col-lg-10"><%= f.text_field :cell_phone, value: params[:contact]? params[:contact][:cell_phone] : nil, placeholder: "Cell Phone", class: "form-control", required: true %>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">First Name</label>

                            <div class="col-lg-10"><%= f.text_field :first_name, value: params[:contact]? params[:contact][:first_name] : nil, placeholder: "First Name", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Last Name</label>

                            <div class="col-lg-10"><%= f.text_field :last_name, value: params[:contact]? params[:contact][:last_name] : nil, placeholder: "Last Name", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Email</label>

                            <div class="col-lg-10"><%= f.text_field :primary_email, value: params[:contact]? params[:contact][:primary_email] : nil, placeholder: "Email", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Secondary Email </label>

                            <div class="col-lg-10"><%= f.text_field :secondary_email, value: params[:contact]? params[:contact][:secondary_email] : nil, placeholder: "Secondary Email ", class: "form-control" %></div>
                        </div>
                        <div class="form-group row"><label class="col-lg-2 col-form-label">Company</label>

                            <div class="col-lg-10"><%= f.text_field :company_name, value: params[:contact]? params[:contact][:company_name] : nil, placeholder: "Company Name", class: "form-control" %></div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>&nbsp;Submit</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <h5>Bulk Upload Your Contacts</h5>
                </div>
                <div class="ibox-content">

                    <h2 class="text-center">
                        Upload your contacts from a CSV file.<br />
                    </h2>
                    <br />
                    <%= form_for ContactUpload.new, url: {action: "upload", controller: "contacts"} do |f| %>
                        <br />
                        <div class="form-group row justify-content-md-center">
                            <div class="custom-file col-lg-10">
                                <%= f.file_field :file, value: nil, id: "logo", class: "custom-file-input form-control", required: true, accept: 'text/csv'%>
                                <label for="logo" class="custom-file-label form-control">Choose file...</label>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h4 class="text-center">If you need help, get started using our simple <%= link_to "template", asset_path("MobilizeComms-CSVTemplate.csv"),  download: 'MobilizeComms-CSVTemplate.csv' %>.</h4>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="text-center col-lg-12">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-upload"></i>&nbsp;Process CSV</button>
                            </div>
                        </div>
                    <% end %>

                    <% if @csv_uploads %>
                        <div class="row">
                            <div class="col-lg-12 animated fadeInRight">
                                <br />
                                <h2 class="text-center">Most Recent Uploads</h2>
                                <div class="row justify-content-md-center">
                                    <% for upload in @csv_uploads %>
                                        <div class="file-box">
                                            <div class="file">
                                                <a href="<%= upload.file.url %>">
                                                    <span class="corner"></span>
                                                    <div class="icon">
                                                        <i class="fa fa-file"></i>
                                                    </div>
                                                    <div class="file-name">
                                                        <%= upload.file.identifier %>
                                                        <br/>
                                                        <small>Uploaded: <%=upload.created_at.strftime("%m/%d/%Y") %></small>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<% content_for :javascript do %>
    <script type="text/javascript">
        $(function() {
            page_set_storage("ContactNew");
        });

        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        }); 

        $('#new_contact_upload').submit(function() {
            console.log("Contact Upload Started");

            $('#loadingarea').toggleClass('sk-loading');
            
            return true; // return false to cancel form action
        });

    </script>
<% end %>


