<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>

<!-- Crumb Trail -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Editing <%= @current_blast.id %> Blast</h2>
        <button class="btn btn-danger delete_blast float-right">
            <i class="fa fa-times"></i> Cancel Blast
        </button>
    </div>
</div>

<!-- ALERTS -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
    <%= form_for @current_blast, url: {action: "update", controller: "blast"} do |f| %>
         <div class="row"> <!--  What -->
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>What to send?</h5>
                    </div>
                    <div class="ibox-content">
                        <!-- Keyword -->
                        <div class="row">
                            <div class="col-md-12">
                                <p>Which Keyword?</p>
                                <%= select_tag("keyword", options_for_select(@org_keywords.map { |m| [m.name, m.name]}, @current_blast.keyword_name), prompt: "Choose a Keyword", class: "form-control m-b", id: "keyword", required: true) %>
                            </div>
                        </div>
                        <br />
                        <!-- Message -->
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                What Message? 
                                </p>
                                <%= text_area_tag("message", @current_blast.message, class: "form-control", id: "message",  maxlength: @max_message_length, placeholder:"Your Text Message", required: true, :onchange=>"updateMessageMax()") %>
                                
                                <p> Characters Remaining: <span id="counter" data-maximum-length=<%= @max_message_length %>><%= @max_message_length %></span> </p>
                            </div>
                        </div>
                        <%= hidden_field_tag(:id, @current_blast.id) %>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"> <!--  Confirm -->
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Save Your Changes</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox checkbox-success">
                                        <input type="checkbox" id="submit_checkbox" value="confirmed" onchange="hideSubmit()" onload="setSubmit()">
                                        <label for="submit_checkbox"> I agree to the limitations and services of Mobilize Comms. I hereby recognize that I am responsible for all compliancies with the FCC.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="submit" >
                                <div class="col-md-12">
                                    <%= f.submit("Update Blast", class:"btn btn-block btn-primary") %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

</div>

<% content_for :javascript do %>
    
    <script type="text/javascript">
    
        // Sets The Count Of Text In The Message
        function updateMessageMax() {
            var keyword_text = $("#keyword");
            var review_text = $("#message");
            var new_message_max = <%= @max_message_length %>; 
            var counter     = $("#counter");

            if (keyword_text[0].value.length > 0) {
                new_message_max = new_message_max - (keyword_text[0].value.length + 1) - review_text[0].value.length
            }else{
                new_message_max = new_message_max - review_text[0].value.length
            }       
            
            counter.text(new_message_max);
        };

        function hideCalendar() {
            var cal =  document.getElementById("calendar")

            if (cal.style.display == "none") {
                cal.style.display = "flex";
            }else{
                cal.style.display = "none";
            }
            blast_check_box_attribute_value_set("immediate_send","immediate_send");
        };

        // Other General Items
        $(function() {

            // document.getElementById("new_blast").onkeypress = function(e) {
            //     var key = e.charCode || e.keyCode || 0;     
            //     if (key == 13) {
            //         e.preventDefault();
            //     }
            // }

            page_set_storage("BlastEdit");

            $(".select2_demo_2").select2();

            updateMessageMax();

            // Submit Button Show & Hide Logic
            var sub =  document.getElementById("submit")
            document.getElementById("submit_checkbox").onchange = function() {hideSubmit()};   
            document.getElementById("submit_checkbox").onload = function() {setSubmit()};   

            function hideSubmit() {
                if (sub.style.display == "none") {
                    sub.style.display = "flex";
                }else{
                    sub.style.display = "none";
                }
            }

            // Automatically hide the submit button if the box is not checked for the terms agreement
            var checked = document.getElementById("submit_checkbox").checked
            if (checked == true) {
                sub.style.display = "flex";
            }else{
                sub.style.display = "none";
            }

            var new_message_max = <%= @max_message_length %>; 
            var keyword_text = $("#keyword");
            document.getElementById("keyword").onchange = function() {updateMessageMax()};   
            var review_text = $("#message");
            var counter     = $("#counter");

            review_text.keyup(function() {
                var remaining = <%= @max_message_length %> - (keyword_text[0].value.length + 1) - $(this).val().length
                counter.text(remaining);
                if (remaining <= 100) {
                    if (remaining <= 10) {
                        review_text.css("color", "red");
                    }else{
                        review_text.css("color", "orange");
                    }
                }
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('.delete_blast').click(function () {
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to recover this blast!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DB1E36",
                    confirmButtonText: "Yes, cancel it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        url: '<%= blast_delete_path(id: @current_blast.id) %>',
                        type: 'DELETE',
                        data: { authenticity_token: $('[name="csrf-token"]')[0].content},
                        success: function(result) {
                            window.location = "<%= blast_overview_path %>"
                        },
                        failure: function(result) {
                            swal("Blast Cancelation Failed!", "Your blast has not been canceled.", "failure");
                        }
                    });
                });
            });

        });

    </script> 
<% end %>
