<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blast <%= @blast.id %></h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'blast', :action => 'overview' %>">Blast Overview</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Blast <%= @blast.id %></strong>
            </li>
        </ol>
    </div>

</div>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">

                                <h2>Blast <%= @blast.id %> </h2>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Status:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <% if @blast.active %>
                                        <dd class="mb-1"><span class="label label-primary">Active</span></dd>
                                    <% else %>
                                        <dd class="mb-1"><span class="label label-primary">InActive</span></dd>
                                    <% end %>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Created by:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @user.nil? ? "KeywordAdmin User": @user.name %></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Keyword:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @blast.keyword_name %></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Send Date:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @blast.send_date_time.in_time_zone(@current_user.organization.timezone).strftime('%m/%d/%Y %H:%M %p %Z') %></dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">

                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Repeating: </dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @blast.repeat %></dd>
                                </div>
                            </dl>
                            <% if !@blast.repeat.blank? %>
                                <dl class="row mb-0">
                                    <div class="col-sm-4 text-sm-right">
                                        <dt>End Repeating: </dt>
                                    </div>
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"><%= @blast.repeat_end_date.strftime("%-m-%e-%Y %l:%M %p") %></dd>
                                    </div>
                                </dl>
                            <% end %>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Total Contacts: </dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @blast.contact_count %></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Total Groups: </dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @blast.blast_group_relationships.count %></dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Attachments:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="project-people mb-1">
                                        <% for a in @blast.blast_attachments %>
                                            <img alt="image" class="rounded-circle" src="<%= a.attachment.url %>">
                                        <% end %>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Message:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <div class="col-sm-8 text-sm-left">
                                        <dd class="mb-1"><%= @blast.message %></dd>
                                    </div>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Contacts</a></li>
                                            <li><a class="nav-link" href="#tab-2" data-toggle="tab">Groups</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Cell Phone</th>
                                                        <th>Name</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <% for c in @blast_contacts %>
                                                        <tr>
                                                            <% cc = Contact.find_by_id(c.contact_id) %>
                                                            <% if cc %>
                                                                <td><%= number_to_phone(cc.cell_phone) %></td>
                                                                <td><%= "#{cc.first_name} #{cc.last_name}" %></td>
                                                                <% type = "info" %>
                                                                <% if c.status == "Delivered" %>
                                                                    <% type = "success" %>
                                                                <% elsif c.status == "Landline" %>
                                                                    <% type = "warning" %>
                                                                <% elsif c.status == "Failed" %>
                                                                    <% type = "danger" %>
                                                                <% elsif c.status == "Processing" %>
                                                                    <% type = "info" %>
                                                                <% end %>

                                                                <td><span class="label label-<%= type %>"><%= "#{c.status}" %></span></td>
                                                            <% else %>
                                                                <td>Contact No Longer Available</td>
                                                                <td></td>
                                                            <% end %>
                                                        </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                            <%== pagy_bootstrap_nav(@pagy_c) %>
                                        </div>

                                        <div class="tab-pane" id="tab-2">

                                            <div class="feed-activity-list">
                                                <% for g in @blast_groups %>
                                                    <div class="feed-element">
                                                        <div class="media-body ">
                                                            <strong><%= g.name %></strong> <%= g.description %> <br /><strong>Total Contacts: </strong><%= g.get_contact_count %><br/>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {
    
    page_set_storage("BlastShow");

});

</script>

<% end %>