<%= stylesheet_link_tag "forms" %>

<%= javascript_include_tag "forms" %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= @organization.name %></h2>
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'organization', :action => 'show' %>">Organization</a>
            </li>
            <li class="breadcrumb-item active">
                <strong><%= @organization.name %></strong>
            </li>
        </ol>
    </div>
</div>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="ibox ">
                <div class="ibox-title text-center">
                    <h5>Edit Organization - <%= @organization.name %></h5>
                </div>
                <div class="ibox-content">
                    <%= form_for @organization, url: {action: "update", controller: "organization"} do |f| %>
                        <div class="form-group row justify-content-md-center">
                            <img id="img_prev" width=300 height=300 src="<%= @organization.logo.url ? @organization.logo.url : "#"%>" alt="your image" class="img-thumbnail hidden "/> <br/>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Organization Logo</label>
                            <div class="col-lg-10"><%= f.file_field :logo, id: "org_logo_upload", class: "form-control"%> 
                            <%= f.hidden_field :logo_cache %>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Organization Name</label>
                            <div class="col-lg-10"><%= f.text_field :name, placeholder: "Organization Name", class: "form-control"%> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Organization Address</label>
                            <div class="col-lg-10"><%= f.text_field :street, placeholder: "Street Address", class: "form-control"%> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label"></label>
                            <div class="col-lg-10"><%= f.text_field :street2, placeholder: "Street Address (suite, apt, etc.)", class: "form-control"%></div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label"></label>
                            <div class="col-lg-10"><%= f.text_field :city, placeholder: "City", class: "form-control"%> </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label"></label>
                            <div class="col-lg-10"><%= f.text_field :state_providence, placeholder: "State", class: "form-control"%> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label"></label>
                            <div class="col-lg-10"><%= f.text_field :postal_code, placeholder: "Postal Code", class: "form-control"%> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Organization Size</label>
                            <div class="col-lg-10"> <%= f.select(:size, options_for_select(industry_sizes, @organization.size), { prompt: "Select Size" }, { class: "form-control" })%>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Organization Industry</label>
                            <div class="col-lg-10"> <%= f.select(:industry, options_for_select(industries, @organization.industry), { prompt: "Select industries" }, { class: "form-control" })%>
                            </div>
                        </div>

                        <br />
                        <br />
                        <div class="ibox-title">
                            <h5>Time Zone</h5>
                            <p>All messages scheduled will be determined by this time zone value.
                        </div>
                        <br />
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Time Zone</label>
                            
                            <div class="col-lg-10"><%= select_tag "timezone", options_for_select(ActiveSupport::TimeZone.us_zones.sort_by(&:name).map{|e| "#{e.name}"}, @organization.timezone), prompt: "Select Time Zone", class: "form-control required"%>
                            </div>
                        </div>

                        <div class="form-group row justify-content-md-center">
                            <%= f.submit class: "btn btn-primary" do %><i class="fa fa-check"></i>&nbsp;Update<% end %>

                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    page_set_storage("OrganizationEdit");
   
    $('.chosen-select').chosen({width: "100%"});

    <% if !@organization.logo.url %>
        $('#img_prev').css('visibility', 'hidden');
    <% end %>

    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }

    $("#org_logo_upload").change(function(){
        $('#img_prev').css('visibility', 'visible');
        readURL(this);
    });

    $('#edit_organization').submit(function() {
        
        $('#loadingarea').toggleClass('sk-loading');
        
        return true; // return false to cancel form action
    });

});

</script>

<% end %>


