<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><%= @organization.name %></h2>
    </div>
</div>

<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md text-center">
                                <%= link_to "Edit Organization", organization_edit_path(),  class: "btn btn-warning btn-xs float-right" %>
                                <% if @organization['logo'] != nil %>
                                    <img id="img_prev" width=100 height=100 src="<%= @organization.logo.url %>" alt="your image" class="img-thumbnail float-left"/> <br/>
                                <% end %>
                                <h2><%= @organization.name %></h2>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Status:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <% if @organization.active %>
                                        <dd class="mb-1"><span class="label label-primary">Active</span></dd>
                                    <% else %>
                                        <dd class="mb-1"><span class="label label-danger">InActive</span></dd>
                                    <% end %>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Created On:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @organization.created_at.in_time_zone(@organization.timezone).strftime("%b %e, %Y %l:%m %P")%></dd>
                                </div>
                            </dl>
                             <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Last Updated On:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @organization.updated_at.in_time_zone(@organization.timezone).strftime("%b %e, %Y %l:%m %P")%></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Address:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @organization.street %></dd>
                                    <dd class="mb-1"><%= @organization.street2 %></dd>
                                    <dd class="mb-1"><%= @organization.city %>, <%= @organization.state_providence %> <%= @organization.postal_code %></dd>
                                </div>
                            </dl>
                        </div>
                        <div class="col-lg-6" id="cluster_info">

                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Industry:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @organization.industry %></dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Size:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1"><%= @organization.size %></dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" href="#tab-1" data-toggle="tab">Admins</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <div class="feed-activity-list">
                                                <% for a in @admins %>
                                                    <div class="feed-element">
                                                        <div class="media-body ">
                                                            <strong><%= a.name %> - </strong> <%= a.email %>
                                                            <br/>
                                                            <small class="text-muted"><%= number_to_phone(a.cell_phone, area_code: true) %></small>
                                                            <% if a.active %>
                                                                <%= button_to "Deactivate Admin", organization_deactivate_admin_path(id: a.id),  class: "btn btn-danger btn-xs float-right" %>
                                                            <% else %>
                                                                <%= button_to "Activate Admin", organization_activate_admin_path(id: a.id),  class: "btn btn-primary btn-xs float-right" %>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <%= link_to "Add New Admin", organization_new_admin_path, class: "btn btn-primary btn-lg" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        page_set_storage("OrganizationShow");
    </script>
<% end %>
