<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>

<%= stylesheet_link_tag "appviews" %>
<%= javascript_include_tag "appviews" %>

<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<%= stylesheet_link_tag "widgets" %>

<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>New Queue</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'queue', :action => 'overview' %>">Queue Overview</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>New Queue</strong>
            </li>
        </ol>
    </div>
</div>

<!-- Alerts -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <div class="col-lg-7 alert alert-dismissable alert-<%= key == "success" || key == "notice" ? "success" : "danger" %>">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="loadingarea">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>

    <!-- New Queue Instructions -->
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title text-centered">
                <h2>Create A Queue</h2>
            </div>

            <div class="ibox-content">
                <%= form_for CustomQueue.new, url: {action: "create", controller: "queue"} do |f| %>
                <!-- Name -->
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Name<small style="color:red;">*</small></label>
                    <div class="col-lg-10"> <%= f.text_field :name, value: @queue.name ? @queue.name : nil, placeholder: "Name of queue", required: true, class: "form-control"%>
                    </div>
                </div>
                <!-- Description -->
                <div class="form-group row"><label class="col-lg-2 col-form-label">Description</label>
                    <div class="col-lg-10"> <%= f.text_area :description, value: @queue.description ? @queue.description : nil, placeholder: "Description of your queue", class: "form-control"%>
                    </div>
                </div>
                <!-- Capacity -->
                <div class="form-group row"><label class="col-lg-2 col-form-label">Capacity</label>
                    <div class="col-lg-10"> <%= f.number_field :capacity, value: @queue.capacity ? @queue.capacity : 50, placeholder: "Queue Capacity", class: "form-control"%>
                    </div>
                </div>
                <!-- Adjust Capacity On Completion-->
                <div class="form-group row">
                 <div class="checkbox checkbox-success">
                   <div><%= f.check_box :adjust_capacity_on_completion, value: @queue.adjust_capacity_on_completion ? @queue.adjust_capacity_on_completion : false, checked: @queue.adjust_capacity_on_completion ? @queue.adjust_capacity_on_completion : false %> <%= f.label :adjust_capacity_on_completion, "Adjust Capacity On Completion?" %> </div>
                 </div>
               </div>
                <!-- Surveys -->
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">
                        Survey(s)
                    </label>
                    <div class="col-lg-10">
                        <%= select_tag "survey", options_from_collection_for_select(@current_organization.surveys, "id", "name"), include_blank: false, required: true, multiple: true, class: "form-control select2_demo_2", id: "survey_select"  %>
                        <span class="form-text m-b-none">Choose a survey for this queue to be attached to. </span>
                    </div>
                </div>
                <!-- Start + End Date & Time -->
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Start Date<small style="color:red;">*</small></label>
                    <div class="col-lg-4 input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <%= f.text_field   :start_date, value: @queue.start_date ? @queue.start_date.in_time_zone(@current_organization.timezone).strftime("%m/%d/%Y") : (DateTime.now.in_time_zone(@current_organization.timezone) + 1.days).strftime("%m/%d/%Y"), class: "form-control", id: "date" %>
                    </div>
                    <label class="col-lg-2 col-form-label">End Date<small style="color:red;">*</small></label>
                    <div class="col-lg-4 input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><%= f.text_field   :end_date, value: @queue.end_date ? @queue.end_date.in_time_zone(@current_organization.timezone).strftime("%m/%d/%Y") : (DateTime.now.in_time_zone(@current_organization.timezone) + 2.days).strftime("%m/%d/%Y"), class: "form-control", id: "date" %>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-lg-2 col-form-label">Start Time</label>
                  <div class="col-lg-4 input-group date">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                          <%= f.text_field   :start_time, value: @queue.start_time ?  @queue.start_time.in_time_zone(@current_organization.timezone).strftime("%l:%M %P %Z") : (DateTime.parse("16:00:00").in_time_zone(@current_organization.timezone)).strftime("%l:%M %P %Z"), class: "form-control", id: "time" %>
                  </div>
                  <label class="col-lg-2 col-form-label">End Time</label>
                  <div class="col-lg-4 input-group date">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                          <%= f.text_field   :end_time, value: @queue.end_time ?  @queue.end_time.in_time_zone(@current_organization.timezone).strftime("%l:%M %P %Z") : (DateTime.parse("16:00:00").in_time_zone(@current_organization.timezone)).strftime("%l:%M %P %Z"), class: "form-control", id: "time" %>
                  </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-md-center">
        <button class="btn btn-lg btn-success" type="submit" id="submit_button"><strong>Create Queue</strong>  <i class="fa fa-caret-right"></i></button>
    </div>
    <% end %>
</div>
<br />
<br />
<br />
