<%= stylesheet_link_tag "commerce" %>
<%= javascript_include_tag "commerce" %>

<!-- Bread Crumb -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Queue for <%= @queue.survey_list %></h2>
    </div>
</div>

<!-- Alert Management -->
<div class="row justify-content-md-center">
    <% flash.each do |key, value| %>
        <% if key == "success" || key == "notice" %>
            <div class="col-lg-7 alert alert-dismissable alert-success">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% else %>
            <div class="col-lg-7 alert alert-dismissable alert-danger">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <% end %>
            <%= value %>
        </div>
    <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row wrapper">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h4>Queue Appointments</h4>
                    <h6>Last Entry: <%= !@queue_appointments.empty? ? @queue_appointments.last.created_at.to_date : "n/a" %></h6>
                    <div class="ibox-tools">
                        <%= link_to "Export", queue_export_path, class: "btn btn-primary btn-xs"%>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="Search" class="form-control-sm form-control"> <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <table class="footable table table-hover table-stripped toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th data-toggle="true">ID</th>
                                    <th data-hide="phone">Name</th>
                                    <th data-hide="phone">Number</th>
                                    <th data-hide="phone">Survey</th>
                                    <th data-hide="phone">Status</th>
                                    <th class="text-right" data-sort-ignore="true">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for q in @queue_appointments %>
                                    <tr>
                                        <td>
                                            <%= q.id %>
                                        </td>
                                        <td>
                                            <%= "#{q.contact.first_name} #{q.contact.last_name}" %>
                                        </td>
                                        <td>
                                            <%= q.contact.cell_phone %>
                                        </td>
                                        <td>
                                            <%= q.survey.name %>
                                        </td>
                                        <td>
                                            <%= q.completed ? "Completed" : "In Progress" %>
                                        </td>

                                        <td class="text-right">
                                            <div class="btn-group">
                                                <%= link_to survey_individual_response_path(id: q.survey_response.id), class: "btn btn-white btn-xs", target: :_blank do %>
                                                    <i class="fa fa-eye"></i> View </a>
                                                <% end %>
                                                <%= link_to queue_overview_path, class: "btn btn-white btn-xs" do %>
                                                    <i class="fa fa-pencil"></i> Respond </a>
                                                <% end %>
                                                <%= link_to queue_overview_path, class: "btn btn-white btn-xs" do %>
                                                    <i class="fa fa-pencil"></i> Remove </a>
                                                <% end %>
                                                <%= link_to queue_complete_appointment_path(id: q.id), class: "btn btn-white btn-xs" do %>
                                                    <i class="fa fa-pencil"></i> Complete </a>
                                                <% end %>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                        <%== pagy_bootstrap_nav(@pagy) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

Survey Queue

Export

Last Entry: 1/1/2020

Filter By:

Most Recent ^

Table w/ Survey Response Queue Relationships
ID Phone# Name | View SMS Del Complete
<%= %>
