<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
          <%= image_tag "logos/Mobilize_Logo_Comms_Special Aqua.png", size: "200x200", alt: "MUS Logo Blue" %>
        </div>
        <h3>Forgot your password?</h3>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <% flash.each do |key, value| %>
              <div class="alert alert-danger">
                    <%= value %>
              </div>
            <% end %>
            <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", required: true %>
            </div>
           
            <%= f.submit "Send me reset password instructions".titleize, class: "btn btn-primary block full-width m-b" %>
           
            <small><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></small><br />

            <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'users/sessions', :action => 'new' %>">Login</a>

            <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'users/registrations', :action => 'new' %>">Create an account</a>
        <% end %>
        <p class="m-t"> <small>Mobilize Comms & Blueprint 108 &copy; 2019-2020</small> </p>
    </div>
</div>