<%= stylesheet_link_tag "forms" %>
<%= javascript_include_tag "forms" %>

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
          <%= image_tag "logos/Mobilize_Logo_Comms_Special Aqua.png", size: "200x200", alt: "MUS Logo Blue" %>
        </div>
        <h3>Welcome to Mobilize Comms</h3>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row justify-content-md-center">
      <div class="col-lg-10">
          <div class="ibox">
              <div class="ibox-content">
                    <div class="text-center">
                        <h2>
                            Free & Simple Sign-Up 
                        </h2>
                    </div>

                  <form id="form" action="create" method="post" class="wizard-big">
                      <h1>Account</h1>
                      <fieldset>
                          <h2>Account Information</h2>
                          <div class="row">
                              <div class="col-lg-8">
                                  <div class="form-group">
                                    <label>Email *</label>
                                    <%= email_field_tag user[:email], nil, autofocus: true, autocomplete: "email", id: "user_email", class: "form-control required" %>
                                  </div>
                                  <div class="form-group">
                                    <label>Password *</label>
                                    <%= password_field_tag :password, nil, autocomplete: "new-password", id: "password", class: "form-control required" %>
                                  </div>
                                  <div class="form-group">
                                    <label>Confirm Password *</label>
                                    <%= password_field_tag :password_confirmation, nil, autocomplete: "new-password", id: "confirm", class: "form-control required" %>
                                  </div>
                              </div>
                              <div class="col-lg-4">
                                  <div class="text-center">
                                      <div style="margin-top: 20px">
                                          <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </fieldset>
                      <h1>Profile</h1>
                      <fieldset>
                          <h2>Profile Information</h2>
                          <div class="row">
                              <div class="col-lg-8">
                                  <div class="form-group">
                                    <label>First name *</label>
                                    <%= text_field_tag :first_name, nil, id: "first_name", class: "form-control required"%>
                                  </div>
                                  <div class="form-group">
                                    <label>Last name *</label>
                                    <%= text_field_tag :last_name, nil, id: "last_name", class: "form-control required"%>
                                  </div>
                                  <div class="form-group">
                                    <label>Cell Phone * <small> Area Code Required </small></label>
                                    <%= text_field_tag :cell_phone, nil, id: "cell_phone", class: "form-control required"%>
                                  </div>
                              </div>
                          </div>
                      </fieldset>

                      <h1>Organization</h1>
                      <fieldset>
                        <h2>Organization Details</h2>
                          <div class="row">
                              <div class="col-lg-8">
                                  <div class="form-group">
                                    <label>Organization Name *</label>
                                    <%= text_field_tag :name, nil, id: "name", class: "form-control required"%>
                                  </div>
                                  <div class="form-group">
                                    <label>Industry *</label>
                                    <%= select_tag :industry, options_for_select(industries), id: "industry", prompt: "Select Industry", class: "form-control required"%>
                                  </div>
                                  <div class="form-group">
                                    <label>Organization Size *</label>
                                    <%= select_tag :size, options_for_select(industry_sizes), id: "size", prompt: "Select Size", class: "form-control required"%>
                                  </div>
                              </div>
                          </div>
                      </fieldset>

                      <h1>Finish</h1>
                      <fieldset>
                          <h2>Terms and Conditions</h2>
                          <div class="terms">
                            <%= @term.content %>
                          </div>
                          <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>

  </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex) {
            // Always allow going backward even if the current step contains invalid fields!
            if (currentIndex > newIndex) {
                return true;
            }

            // Forbid suppressing "Warning" step if the user is to young
            if (newIndex === 3 && Number($("#age").val()) < 18) {
                return false;
            }

            var form = $(this);

            // Clean up if user went backward before
            if (currentIndex < newIndex) {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // Disable validation on fields that are disabled or hidden.
            form.validate().settings.ignore = ":disabled,:hidden";

            // Start validation; Prevent going forward if false
            return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex) {
            // Suppress (skip) "Warning" step if the user is old enough.
            if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                $(this).steps("next");
            }

            // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
            if (currentIndex === 2 && priorIndex === 3) {
                $(this).steps("previous");
            }
        },
        onFinishing: function (event, currentIndex) {
            var form = $(this);

            // Disable validation on fields that are disabled.
            // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
            form.validate().settings.ignore = ":disabled";

            // Start validation; Prevent form submission if false
            return form.valid();
        },
        onFinished: function (event, currentIndex) {
            var form = $(this);

            // Submit form input
            form.submit();
        }
    }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

});

</script>

<% end %>
