<%= stylesheet_link_tag "miscellaneous" %>
<%= javascript_include_tag "miscellaneous" %>

<%= stylesheet_link_tag "appviews" %>
<%= javascript_include_tag "appviews" %>
<!-- Crumb Trail -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Reports</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

    </div>

    <!-- ALERTS -->
    <div class="row justify-content-md-center">
        <% flash.each do |key, value| %>
            <% if key == "success" || key == "notice" %>
                <div class="col-lg-7 alert alert-dismissable alert-success">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <% else %>
                <div class="col-lg-7 alert alert-dismissable alert-danger">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <% end %>
                <%= value %>
            </div>
        <% end %>
    </div>

    <div class="sk-spinner sk-spinner-wave">
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    Generate a CSV Report
                </div>
                <div class="ibox-content">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Blast Summary Report</h2>

                                    <p class="m-t">
                                        This report will provide you with the history of blasts sent from this account from your admins.
                                        (This will not include opt-in responses).
                                        The report includes the data from a blast which includes when it was sent, the number contacts, the rate, the cost, the message, and the keyword attached to the blast.
                                        These reports may take a few seconds/minutes to be generated.
                                    </p>

                                </div>
                                <div class="col-md-8">
                                    <%= form_tag(reports_create_blast_report_path, method: "post", id: "new-report-form") do %>
                                        <div class="row">
                                            <div class="col-3 col-md-3">
                                                <div class="form-group">
                                                    <%= label_tag(:month, "MONTH") %>
                                                    <%= select_tag :month, options_for_select(Date::MONTHNAMES, @month), class: "form-control chosen-select", prompt: "Select Month", required: true %>
                                                </div>
                                            </div>
                                            <div class="col-2 col-md-2 float-right">
                                                <div class="form-group">
                                                    <%= label_tag(:year, "YEAR") %>
                                                    <%= select_tag :year, options_for_select([2018,2019,2020,2021,2022], @year.to_i), class: "form-control chosen-select", required: true %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <%= submit_tag "Generate Report", class: "btn btn-primary", data: { disable_with: false } %>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
