<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="img-sm" src="<%= image_path('logos/Mobilize_Logo_Comms_Special Aqua.png') %>"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"><%= current_admin.email %></span>
                        <span class="text-muted text-xs block">Mobilize Comms Admins</span>
                    </a>
                </div>
                <div class="logo-element">
                    MUS
                </div>
            </li>

            <!-- Monthly Dashboard -->
            <li class="<%= is_active_action('monthly_overview') %>">
                <%= link_to admin_page_monthly_overview_path  do %>
                    <i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.widgets">Monthly Overview</span>
                <% end %>
            </li>

            <!-- Yearly Dashboard -->
            <li class="<%= is_active_action('yearly_overview') %>">
                <%= link_to admin_page_yearly_overview_path  do %>
                    <i class="fa fa-calendar-o"></i> <span class="nav-label" data-i18n="nav.widgets">Yearly Overview</span>
                <% end %>
            </li>   

            <!-- Opt Out Queue -->
            <li class="<%= is_active_action('opt_out_queue') %>">
                <%= link_to admin_page_opt_out_queue_path  do %>
                    <i class="fa fa-sign-out"></i> <span class="nav-label" data-i18n="nav.widgets">Opt Out Queue</span>
                <% end %>
            </li>  

            <!-- Opt Out Queue -->
            <li class="<%= is_active_action('system_notifications') %>">
                <%= link_to admin_page_system_notifications_path  do %>
                    <i class="fa fa-exclamation-circle"></i> <span class="nav-label" data-i18n="nav.widgets">System Notifications</span>
                <% end %>
            </li>  

            <!-- Plans Dashboard -->
            <li class="<%= is_active_action('plan_overview') %>">
                <%= link_to admin_page_plan_overview_path  do %>
                    <i class="fa fa-cubes"></i> <span class="nav-label" data-i18n="nav.widgets">Plan Management</span>
                <% end %>
            </li>  

            <!-- Organization --> 
            <li class="<%= is_active_action('organizations') %>">
                <%= link_to admin_page_organizations_path  do %>
                    <i class="fa fa-building-o"></i> <span class="nav-label" data-i18n="nav.widgets">Organizations</span>
                <% end %>
            </li>  

            <!-- Reports -->
            <li class="<%= is_active_action('reports') %>">
                <%= link_to admin_page_reports_path  do %>
                    <i class="fa fa-file-text-o"></i> <span class="nav-label" data-i18n="nav.widgets">Reports</span>
                <% end %>
            </li>  

            <!-- Rails Admin Dashboard -->
            <li>
                <%= link_to rails_admin_path, target: "_blank"  do %>
                    <i class="fa fa-database"></i> <span class="nav-label" data-i18n="nav.widgets">Database</span>
                <% end %>
            </li>

            <!-- Sidekiq Dashboard -->
            <li>
                <%= link_to sidekiq_path, target: "_blank"  do %>
                    <i class="fa fa-rocket"></i> <span class="nav-label" data-i18n="nav.widgets">Sidekiq</span>
                <% end %>
            </li>  

            <!-- Up Time Dashboard -->
            <li>
                <%= link_to "https://e12770b6-e364-404c-a8d7-5dea0e0d8691.site.hbuptime.com/", target: "_blank"  do %>
                    <i class="fa fa-heart"></i> <span class="nav-label" data-i18n="nav.widgets">Up Time</span>
                <% end %>
            </li>  
            
        </ul>

    </div>
</nav>